<div class="location-time">
	<p>
		<strong>{{ 'Country: '|t }}</strong> <span>{{ country }}</span>
	</p>
	<p>
		<strong>{{ 'City: '|t }}</strong> <span>{{ city }}</span>
	</p>
	<p>
		<strong>{{ 'Timezone: '|t }}</strong> <span>{{ timezone }}</span>
	</p>
	<p>
		<strong>{{ 'Current Time: '|t }}</strong> <span>{{ current_time }}</span>
	</p>
</div>
